<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/style/index.css" />
		<title><%= title %></title>
	</head>
	<body>
		<header>
			<h1>My Blog</h1>
			<nav>
				<a href="/" class="active">Accueil</a>
				<a href="/admin">Admin</a>
			</nav>
		</header>
			<main>
				<section>

					<h2>Les derniers articles</h2>
					<% if(stories.length) {%>
					<% for( const story of stories ) { %>
						<article>
							<a href="/story/<%= story.id %>" title="Vers le détail de l'article" >
								<h3><%= story.title %> <small>par <%= story.author%> le <%= new Date(story.publishTime).toLocaleDateString() %> à <%= new Date(story.publishTime).toLocaleTimeString() %></small></h3>
								<img src="images/<%= story.img_src%>" alt="">
							</a>
						</article>
					<% } %>
					<% } else { %>
						<p>Aucun article pour le moment</p>
					<% } %>
					
				</section>
				<aside>
					<h2>Archives</h2>
					<ul>
						<li>Janvier</li>
						<li>Février</li>
						<li>Mars</li>
					</ul>

					<hr>

					<h2>Derniers commentaires</h2>
					<% for(const comment of commentsLimited) { %>

						<p><%= comment.nickname %></p>
					
					<% } %>
				</aside>
			</main>
		

		<footer>
			<p>© 2024 - Romain Fournier - My blog </p>
			<p>Photo de <a href="https://unsplash.com/fr/@illiyapresents?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Illiya Vjestica</a> sur <a href="https://unsplash.com/fr/photos/troupeau-de-moutons-sur-un-champ-dherbe-verte-pendant-la-journee-W5FdAcHp7l8?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
			</p>
		</footer>
	</body>
</html>
